[submodule "bayesian-belief-networks"]
	path = bayesian-belief-networks
	url = https://github.com/nickfyson/bayesian-belief-networks.git
[submodule "pomegranate"]
	path = pomegranate
	url = git@github.com:jmschrei/pomegranate.git
[submodule "bayespy"]
	path = bayespy
	url = git@github.com:bayespy/bayespy.git
